<h3>This is the dashboard shown when a user logged in.</h3>

<div class="row">
    <div class="col-sm-4 card" style="background-color:#fcc5d9;">
        <p><%= gravatar_for(@user) %></p>
        <p><%= @user.name %></p>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
    </div>

    <div class="col-sm-8 card" style="background-color:#fcc5d9;">
        <p>user and followers' activities</p>
        Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
    </div>
</div>