@import "bootstrap";

// *= require font-awesome // No need 不要

i {
  cursor:pointer;
}

.navbar-brand {
  font-size: 32px;
}

.login-form {
  margin: 20px 0px 0px 0px;
}

.top-image {
  width: 100%;
}

// .form-row {
//   float: right;
// }

.col_1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

// .col_2 {
//   padding-right: 0px;
// }

// .gravatar {
//   float: left;
//   margin-right: 10px;
// }

// .gravatar_edit {
//   margin-top: 15px;
// }

// .stats {
//   overflow: auto;
//   margin-top: 0;
//   padding: 0;
//   a {
//     float: left;
//     padding: 0 10px;
//     border-left: 1px solid #000;
//     color: gray;
//     &:first-child {
//       padding-left: 0;
//       border: 0;
//     }
//     &:hover {
//       text-decoration: none;
//       color: blue;
//     }
//   }
//   strong {
//     display: block;
//   }
// }

// .user_avatars {
//   overflow: auto;
//   margin-top: 10px;
//   .gravatar {
//     margin: 1px 1px;
//   }
//   a {
//     padding: 0;
//   }
// }

// .users.follow {
//   padding: 0;
// }